1\. **Pandas DataFrame**

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a pair of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every `x` BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [2]:
# If haven't downloaded it yet, please get the data file with wget
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ./data/

--2022-11-11 10:38:59--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.69.18, 198.51.44.6, 198.51.45.6, ...
Connecting to www.dropbox.com (www.dropbox.com)|162.125.69.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/xvjzaxzz3ysphme/data_000637.txt [following]
--2022-11-11 10:38:59--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucb9db8d8505761a7270ccdce5d8.dl.dropboxusercontent.com/cd/0/inline/BwjtbZOfjdvLsm21SOTxWmQ6M1r7cucDcR4QD-ZyTAEsE4EF0g6fwTsBLoW_7I0vQgrNVk2I2gmwO0yczrbdjnMUdTZQmjcwztectCc9m2d0CVmztRzGqohhMCPNM_Wx1KTs2gJFshzMFAmRzYZIO8d-jIEBO05E41v-tUZ0OAoKeA/file# [following]
--2022-11-11 10:39:00--  https://ucb9db8d8505761a7270ccdce5d8.dl.dropboxusercontent.com/cd/0/inline/BwjtbZOfjdvLsm21SOTxWmQ6M1r7cucDcR4QD-ZyTAEsE4EF0g6fwTsBLoW_7I0vQgrNVk2I2gmwO0yczrbdjnMUdTZQmjcwztectCc9m2d0CVmztRzGqohhMCPNM_Wx1KTs2gJFshzMFAmRzYZIO8d-jIEBO05E41v-tUZ0OAoKeA/file
Resolving ucb9db8d8505761a7270ccdce5d8.dl.dropboxusercontent.com (ucb9db8d8505761a7270ccdce5d8.dl.dropboxusercontent.com)... 162.125.69.15, 198.51.44.6, 198.51.45.6, ...
Connecting to ucb9db8d8505761a7270ccdce5d8.dl.dropboxusercontent.com (ucb9db8d8505761a7270ccdce5d8.dl.dropboxusercontent.com)|162.125.69.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: ‘./data/data_000637.txt’

data_000637.txt     100%[===================>]  31.64M  5.68MB/s    in 6.3s

2022-11-11 10:39:07 (5.02 MB/s) - ‘./data/data_000637.txt’ saved [33179236/33179236]

1\. Create a Pandas DataFrame reading N rows of the `data/data_000637.txt` dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k (check the documentation).

In [17]:
import pandas as pd # standard naming convention
import numpy as np
import random

file_name = "./data/data_000637.txt"
N_tot = len(pd.read_csv(file_name)) # extract the number of the lines in the imported file

print(f"Total Number of Rows: {N_tot}")
N = random.randint(10001, N_tot) # Random vector between 10k+1 and the total number of lines
print(f"N: {N}")

data = pd.read_csv(file_name, nrows=N)
data

Total Number of Rows: 1310720
N: 1041976

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1041971     1     0           63  3869209337        1092         0
1041972     1     0           58  3869209337        1093        12
1041973     1     0           64  3869209337        1091        23
1041974     1     1            2  3869209337        1183        11
1041975     1     0           32  3869209337        1186        25

[1041976 rows x 6 columns]

2\. Estimate the number of BX in a ORBIT (the value `x`).

*Hint*: check when the BX counter reaches the maximum value before being reset to 0.

In [68]:
i = 42
count = 0

count_bx1 = data.loc[[i],['BX_COUNTER']].values[0]
count_bx2 = data.loc[[i+1],['BX_COUNTER']].values[0]

while((count_bx1 - count_bx2) <= 10):
    i = i+1
    count_bx1 = count_bx2
    count_bx2 = data.loc[[i],['BX_COUNTER']].values[0]
    count = count + 1

print(f"X: {count}")

X: 0

3\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information) since the beginning of the data acquisition, and convert the new column to a Time Series.

4\. Find out the duration of the data taking in hours, minutes and seconds, by using the features of the Time Series. Perform this check reading the whole dataset.

5\. Use the `.groupby()` method to find out the noisy channels, i.e. the TDC channels with most counts (print to screen the top 3 and the corresponding counts)

6\. Count the number of non-empty orbits (i.e. the number of orbits with at least one hit).

7\. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139.

8\. Create two Series (one for each FPGA) that have the TDC channel as index, and the number of counts for the corresponding TDC channel as values.

9\. **Optional:** Create two histograms (one for each FPGA) that show the number of counts for each TDC channel.